[Desktop Entry]
Name=MajUSB Bootable Creator
Comment=Create bootable USB drives from Linux or Windows ISOs
Exec=rust-usb-bootable-creator
Icon=majusb-bootable-creator
Terminal=false
Type=Application
Categories=Utility;System;
